*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* INICIO DO CODIGO DO FELIPINHO */

nav {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    
}

.menu li > a {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 1rem;
  z-index: 100;
  transition: all 0.2s ease;
}
.imagem_de_fundo {
  background-image: url("../imagens/1054256.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem 5rem;
}
.slogan {
  font-size: 64px;
  color: #eee;
  width: 50%;
}
/* FIM DO CODIGO DO FELIPINHO */

/* INICIO DO CODIGO DO NASSER */
section#serviços {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0rem;
}
section#serviços .titulo_serviço{
  font-size: 32px;
  color: #222;
  
}
section#serviços .cartão-serviços{
  width: 100%;

    display: flex;
    justify-content: space-evenly;

}

section#serviços .cartão-serviços .serviço_card{
  height: fit-content;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
    background: white;
}

section#serviços .cartão-serviços .serviço_card .serviço-imagem{
  height: 50%;
    width: 100%;
    position: relative;
}

section#serviços .cartão-serviços .serviço_card .serviço-imagem img{
  width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.serviço_card .serviço-imagem .serviço_icone{
  position: absolute;
    left: 50%;
    right: 0;
    top: 50;
    transform: translate(-50%,-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid white;
    background: white;
    padding: 1rem;
}

.serviço_card .serviço-imagem .serviço_icone img{
  height: 100%;
    width: 100%;
    object-fit: cover;
}

.serviço_card .serviço_conteudo{
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.serviço_card .serviço_conteudo .serviço_cartao button{
  border: 2px solid #5177ff;
  outline: none;
  padding: 0.75rem 1.25rem;
  font-size: 16px;
  background: #5177ff;
  color: #eee;
  border-radius: 15px;
  transform: scale(1);
  transition: all .4s ease-in-out;
  text-align: center;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}

.serviço_card .serviço_conteudo .serviço_cartao button:hover{
  background: transparent;
  color: #5177ff;
  transform: scale(1.02);
}
.cartão-serviços .serviço_fundo{
  display:  flex;
  flex-wrap: wrap ;
  align-items: center;
  justify-content: center;
  gap: 30px;
}



/* FIM DO CODIGO DO NASSER */

/* INICIO DO CODIGO DA DANI */

/* FIM DO CODIGO DA DANI */

/* INICIO DO CODIGO DO DIEGO */
section#container-cliente {
  height: fit-content;
  margin-bottom: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 1rem;
  align-items: center;
  background: #f4f4f4;
}

.portifolio-cliente {
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-size: 24px;
  padding: 60px;
  margin-top: 100px;
  background-color: #f4f4f4;
  color: #451179;
}

.cliente {
  display: flex;
  height: 400px;
  width: 40vh;
  margin-bottom: auto;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
  background: white;
}

.cliente .imagem-cliente {
  height: 200px;
  width: 100%;
}

.cliente .imagem-cliente img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.titulo-cliente {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: poppins;
  color: #451179;
}

.cliente .botao {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.cliente .botao button {
  border: 2px solid #5177ff;
  display: block;
  outline: none;
  padding: 0.75rem 1.25rem;
  font-size: 16px;
  background: #5177ff;
  color: #eee;
  border-radius: 15px;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  text-align: center;
  margin: 20px;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}

.cliente .botao button:hover {
  background: transparent;
  color: #5177ff;
  transform: scale(1.02);
}

/* FIM DO CODIGO DO DIEGO */

/* INICIO DO CODIGO DO LEANDRO */
#menu-baixo{
  height: 200px;
  width: 100%;
  background-color: #451179;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.sobre .container-sobre{
  display: flex;
}
.container img {
  margin-left: 150px;
  margin-top: 45px;
}
.menu-links {
  display: flex;
  color: #fff;
  flex-direction: row;
  align-items: center;    
}

.titulo-rodape{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-transform: none;
  align-items: baseline;
  flex-wrap: nowrap;
}
.titulo-rodape ul
{
display: flex;
height: 50px;
width: 100%;
margin: 0;
padding: 0;
list-style: none;
/* float: left; */
}
footer .rodape{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #451179;
  color: #fff;
  
}
/* FIM DO CODIGO DO LEANDRO */


/* responsivo */

/* Celular */
@media only screen and (max-width: 550px) {
}
/* Tablet */
@media only screen and (min-width: 550px) {
}
/* NOTBOOK PEQUENO */
@media only screen and (min-width: 992px) {
  
}
/* NOTBOOK MEDIO */
@media only screen and (min-width: 1440px) {
section#container-cliente .portifolio-cliente{
  width: 10%;
  height: 100%;
  display: flex;
}
section#container-cliente .portifolio-cliente .cliente{
    width: 0%;
    height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
section#conteiner-cliente .portifolio-cliente .cliente .imagem-cliente{
  width: 10%;
}
}

/* FULL HD*/
@media only screen and (min-width: 1920px) {
  
}