
/* INICIO DO CODIGO DO FELIPINHO */

nav{
 height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.menu{
    display: flex;
    gap: 25px;
    list-style-type: none;
    
}

.menu li > a {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
  }

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 1rem;
  z-index: 100;
  transition: all 0.2s ease;
}
.imagem_de_fundo{
    background-image: url("../imagens/1054256.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 5rem;
    
    
}   

/* FIM DO CODIGO DO FELIPINHO */

/* INICIO DO CODIGO DO NASSER */




/* FIM DO CODIGO DO NASSER */

/* INICIO DO CODIGO DA DANI */




/* FIM DO CODIGO DA DANI */





/* INICIO DO CODIGO DO DIEGO */
section#container-cliente{
  width: 100%;
  height: 80vh;
  display: flex;

}

/* FIM DO CODIGO DO DIEGO */


/* INICIO DO CODIGO DO LEANDRO */




/* FIM DO CODIGO DO LEANDRO */